<!DOCTYPE html>
<html lang="ua">
  <head>
    <%- include("../modules/head")%>
    <link rel="stylesheet" href="/scss/main-home.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include("../modules/header")%>
      <main class="main">
        <div class="main__container">
          <section class="full-width-image">
            <picture>
              <source
                srcset="/img/home/full-width-img/mob__ukraine.jpg"
                media="(max-width:1000px)"
              />
              <img
                src="/img/home/full-width-img/desk_ukraine.jpg"
                alt="Напис на фото 'Відчуваєш аромат'"
              />
            </picture>
          </section>
          <section class="some-images swiper">
            <div class="some-images__container swiper">
              <div class="some-images__wrapper swiper-wrapper">
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#barbecue-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до шашлику</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#sausage-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до ковбаси</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#glintway-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до глинтвейну</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#pizza-icon"></use>
                  </svg>
                  <span class="some-images__text">до піци</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#salo-icon"></use>
                  </svg>
                  <span class="some-images__text">до сала</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#paper-icon"></use>
                  </svg>
                  <span class="some-images__text">дуже гострі</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#meat-icon"></use>
                  </svg>
                  <span class="some-images__text">до м'яса</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#chicken-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до курятини</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#fish-icon"></use>
                  </svg>
                  <span class="some-images__text">до риби</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#vegetables-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до овочів</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#barbecue-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до шашлику</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#sausage-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до ковбаси</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#glintway-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до глинтвейну</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#pizza-icon"></use>
                  </svg>
                  <span class="some-images__text">до піци</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#salo-icon"></use>
                  </svg>
                  <span class="some-images__text">до сала</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#paper-icon"></use>
                  </svg>
                  <span class="some-images__text">дуже гострі</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#meat-icon"></use>
                  </svg>
                  <span class="some-images__text">до м'яса</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#chicken-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до курятини</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use xlink:href="img/home/sprite.svg#fish-icon"></use>
                  </svg>
                  <span class="some-images__text">до риби</span>
                </div>
                <div class="some-images__slide swiper-slide">
                  <svg class="some-images__svg">
                    <use
                      xlink:href="img/home/sprite.svg#vegetables-icon"
                    ></use>
                  </svg>
                  <span class="some-images__text">до овочів</span>
                </div>
              </div>
            </div>
            <div class="some-images__button-prev swiper-button-prev"></div>
            <div class="some-images__button-next swiper-button-next"></div>
          </section>
          <section class="new-receipts catalog">
            <h2 class="catalog__title">нові надходження</h2>
            <div class="new-receipts__container catalog__container swiper">
              <div class="catalog__wrapper swiper-wrapper">
                  <%for(;i<5;i++){%>
                <div class="swiper-slide card">
                  <div class="card__icons">
                    <div class="card__stars">
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                    </div>
                    <div class="card__heart">
                      <svg>
                        <use xlink:href="img/sprite.svg#heart"></use>
                      </svg>
                    </div>
                  </div>
                  <a href="/<%=products[i].categoryId%>/<%=products[i].id%>" class="card__link">
                    <div class="card__img">
                      <img
                        src="/img/products-img/<%=products[i].img_name%>"
                        alt="<%=products[i].name%>"
                      />
                    </div>
                    <h3 class="card__title"><%=products[i].name%></h3>
                  </a>
                  <div class="card__weight">
                    <select>
                      <option value="100" selected>100г</option>
                      <option value="250">250г</option>
                      <option value="500">500г</option>
                      <option value="1000">1 кг</option>
                      <option value="2000">Опт від 2 до 5 кг</option>
                      <option value="5000">Опт від 5 до 25 кг</option>
                      <option value="25000">Опт від 25 кг</option>
                    </select>
                    <div class="card__drop-down-weight">
                      <img
                        src="/img/dropdown.svg"
                        alt="Іконка випадаючого меню вібору ваги продукту"
                      />
                    </div>
                  </div>
                  <div class="card__important">
                    <span class="card__price"><%=products[i].price.toFixed(2)%> грн</span>
                    <button class="card__button-buy">
                      <img
                        src="/img/home/buy.svg"
                        alt="Іконка додати до кошику"
                      />
                    </button>
                  </div>
                </div>
                  <%}%>
              </div>
            </div>
            <div
              class="new-receipts__pagination catalog__pagination swiper-pagination"
            ></div>
          </section>
          <section class="customer-favorites catalog">
            <h2 class="catalog__title">фаворити покупців</h2>
            <div
              class="customer-favorites__container catalog__container swiper"
            >
              <div class="catalog__wrapper swiper-wrapper">

                <%for(;i<products.length;i++){%>
                <div class="swiper-slide card">
                  <div class="card__icons">
                    <div class="card__stars">
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                      <svg>
                        <use xlink:href="img/sprite.svg#star"></use>
                      </svg>
                    </div>
                    <div class="card__heart">
                      <svg>
                        <use xlink:href="img/sprite.svg#heart"></use>
                      </svg>
                    </div>
                  </div>
                  <a href="/<%=products[i].categoryId%>/<%=products[i].id%>" class="card__link">
                    <div class="card__img">
                      <img
                        src="/img/products-img/<%=products[i].img_name%>"
                        alt="<%=products[i].name%>"
                      />
                    </div>
                    <h3 class="card__title"><%=products[i].name%></h3>
                  </a>
                  <div class="card__weight">
                    <select>
                      <option value="100" selected>100г</option>
                      <option value="250">250г</option>
                      <option value="500">500г</option>
                      <option value="1000">1 кг</option>
                      <option value="2000">Опт від 2 до 5 кг</option>
                      <option value="5000">Опт від 5 до 25 кг</option>
                      <option value="25000">Опт від 25 кг</option>
                    </select>
                    <div class="card__drop-down-weight">
                      <img
                        src="/img/dropdown.svg"
                        alt="Іконка випадаючого меню вібору ваги продукту"
                      />
                    </div>
                  </div>
                  <div class="card__important">
                    <span class="card__price"><%=products[i].price.toFixed(2)%> грн</span>
                    <button class="card__button-buy">
                      <img
                        src="/img/home/buy.svg"
                        alt="Іконка додати до кошику"
                      />
                    </button>
                  </div>
                </div>
                    <%}%>

              </div>
            </div>
            <div
              class="customer-favorites__pagination catalog__pagination swiper-pagination"
            ></div>
          </section>
          <section class="kitchen">
            <h2 class="kitchen__title">на твоїй кухні не вистачає</h2>
            <div class="kitchen__img">
              <img
                src="/img/home/kitchen/kitchen.jpg"
                alt="Фото з банками спецій"
              />
              <img
                src="/img/home/kitchen/kitchen_2.jpg"
                alt="Фото з банками спецій"
              />
            </div>
          </section>
        </div>
      </main>
      <%- include("../modules/footer")%>
    </div>

    <%- include("../modules/header-script")%>
    <script src="/js/main-home.js"></script>
  </body>
</html>
